<div class="modal-container" style="width: 30em">
    <div class="model-dialog rounded p-2" [class]="'bg' + bgColor" role="document">
        <div class="modal-content">
            <div class="modal-header mb-2">
                <h4 class="modal-title text-white ml-2">Leaderboard</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="close()">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body text-white m-2 mb-3">
                <div class="p-2 justify-content-center row">
                    <button class="btn btn-danger shadow m-1 col-5" (click)="changeMode('Daily')">
                        <strong>Daily</strong>
                    </button>
                    <button class="btn btn-info shadow m-1 col-5" (click)="changeMode('Normal')">
                        <strong>Normal</strong>
                    </button>
                </div>
                <div class="card">
                    <table class="table table-hover p-2">
                        <thead class="" [class]="'table' + bgColor">
                            <tr class="">
                                <th scope="col">#</th>
                                <th scope="col"><i class="bi bi-trophy-fill"></i></th>
                                <th scope="col">Name</th>
                                <ng-container *ngSwitch="currentGamemode">
                                    <ng-container *ngSwitchCase="'Daily'">
                                        <th scope="col">Guesses</th>
                                        <th scope="col">Current Streak</th>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'Normal'">
                                        <th scope="col">Current Streak</th>
                                        <th scope="col">Runs Won</th>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr class=""  
                                *ngFor="let player of leaderboard; let i = index" 
                                [class]="getPlayerBgColor(i)">
                                <th scope="row">{{i+1}}</th>
                                <td>{{getMedal(i)}}</td>
                                <td>{{player.name}}</td>
                                <ng-container *ngSwitch="currentGamemode">
                                    <ng-container *ngSwitchCase="'Daily'">
                                        <td>{{player.dailyGuesses}}</td>
                                        <td>{{player.dailyStats!.gameStatistic!.currentStreak}}</td>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'Normal'">
                                        <td>{{player.normalStats!.gameStatistic!.currentStreak}}</td>
                                        <td>{{player.normalStats!.gameStatistic!.runsWon}}</td>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light m-1" data-bs-dismiss="modal" (click)="close()">
                    <strong>Close</strong> 
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal-background"></div>
