<div class="modal-container" style="width: 60em; max-height:50em; overflow: auto">
    <div class="model-dialog border rounded px-2 py-3 bg-light" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title ml-2">Equiple Guide</h2>
                <button type="button" class="btn-close m-3" aria-label="Close" (click)="close()">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <cdk-accordion class="cdk-accordion">
                    <!-- Introduction -->
                    <cdk-accordion-item class="accordion-item p-1" #accordionItem="cdkAccordionItem" role="button"
                        tabindex="0" [attr.id]="'accordion-header-' + 0" [attr.aria-expanded]="accordionItem.expanded"
                        [attr.aria-controls]="'accordion-body-' + 0">
                        <div class="accordion-header rounded mx-2 bg-info text-white" (click)="accordionItem.toggle()">
                            <button class="accordion-button ml-2 p-2 row">
                                <h4 clas="col-3">
                                    Introduction 
                                </h4>
                                <span class="col-3 accordion-item-description">
                                    Click to {{ accordionItem.expanded ? 'close' : 'open' }}
                                </span>
                            </button>
                        </div>
                        <div class="accordion-body border rounded mx-3 p-2" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
                            [attr.id]="'accordion-body-' + 0" [attr.aria-labelledby]="'accordion-header-' + 0">
                            &nbsp;&nbsp;&nbsp;&nbsp;Equiple - item guessing game based off Wordle. You have to guess equipment from the game Realm
                            of the Mad God in 10 tries. Hints for you are six item attributes, which are:
                            <ul>
                                <br>
                                <li>
                                    <strong>Tier </strong>- item tier, can be either "UT" (Untiered), "ST" (Set Tiered) or "Tiered".
                                    Reskinned items marked as "Reskin" afterwards, which makes 6 tiers in total. If target item is reskin, you will have 
                                    to guess the reskin. 
                                    <i>For example: Doom Bow, Sun's Judgement and Bow of the Morning star.</i>
                                </li>
                                <li>
                                    <strong>Type </strong>- slot type, either "Weapon", "Ability", "Armor" or "Ring".
                                </li>
                                <li>
                                    <strong>Color </strong>- dominant color of the item. The color is defined automatically so it's not always what you 
                                    might expect it to be. Keep that in mind and always check the color in search results to avoid mistakes.
                                    Colortip (background) will change depending how far from the target you're.<br>
                                    <img class="img-center"src="/assets/images/color-guide.png">
                                    <br>You can hover over color to see it's exact name. Use this to compare it with search results.
                                    <img class="img-center"src="/assets/images/color-tooltip.png">
                                    <br>
                                </li>
                                <!-- <li>
                                    <strong>Shots (Number of Shots) </strong>- number of shots item fires. Yes, some items
                                    don't have any ;)
                                </li> -->
                                <!-- <li>
                                    <strong>Range </strong>- range of the item. Items that technically have range, but as
                                    "max distance" or "radius" will have that value here instead. <i>For example: traps, prisms, etc.</i>
                                </li> -->
                                <li>
                                    <strong>Xp Bonus (Fame Bonus) </strong>- xp bonus given by the item.
                                </li>
                                <li>
                                    <strong>Feedpower </strong>- feedpower of the item.
                                </li>
                            </ul>
                            <!-- &nbsp;&nbsp;&nbsp;&nbsp;<i>Items that have some type of mathematical modifiers will have either minimal value or zero,
                                depending on the case.</i><br><br> -->
                            There are two gamemodes: <strong>Daily</strong> and <strong>Normal</strong>. <br>&nbsp;&nbsp;&nbsp;&nbsp;In Daily gamemode everyone 
                            is given the same item, and you can only do it once per day.
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;In Normal you can play as much as you want and you can exclude reskinned items from the game. Tick off 
                            "Exclude reskins" checkbox before starting a new game.
                            <br>Consecutive wins in both gamemodes increase your respective winning streak, losing on the other hand voids it. Best players show up in 
                            the <strong>Leaderboard</strong>.
                        </div>
                    </cdk-accordion-item>
                    <!-- Tips -->
                    <cdk-accordion-item class="accordion-item p-1" #accordionItemTwo="cdkAccordionItem" role="button"
                        [attr.id]="'accordion-header-' + 1" [attr.aria-expanded]="accordionItemTwo.expanded"
                        [attr.aria-controls]="'accordion-body-' + 1">
                        <div class="accordion-header text-white rounded border bg-dark mx-2 ">
                            <button class="accordion-button ml-2 p-2 row" (click)="accordionItemTwo.toggle()">
                                <h4 clas="col-3">
                                    Tips
                                </h4>
                                <span class="col-3 accordion-item-description">
                                    Click to {{ accordionItemTwo.expanded ? 'close' : 'open' }}
                                </span>
                            </button>
                        </div>
                        <div class="accordion-body mx-3 p-1" role="region" 
                            [style.display]="accordionItemTwo.expanded ? '' : 'none'"
                            [attr.id]="'accordion-body-' + 1"
                            [attr.aria-labelledby]="'accordion-header-' + 1">
                            <ul>
                                <li>If you search up specific item type, you will be given all items that match the search. For example if you search
                                    "Katana" the result will contain all katanas regardless if it states this in the name or not.
                                </li>
                                <li>You can also look up specific tiers of items in search. "ut" will return you all UT items, "reskin" will
                                    return you all reskins, "t10" will give all t10 items, etc. You can use this for most attributes except feedpower and famebonus.
                                </li>
                                <li>You can combine prompts for more specific search, e.g. "st weapon", "t6 ability" or "ut ring".
                                </li>
                                <li>Try to remember unique item cases, for example <b>The Forgotten Crown</b> is the only <b>UT</b> ring with <b>8%</b> xp bonus
                                     and <b>1400</b> feedpower. <b>Corruption Tether</b> is the only <b>ST</b> weapon with <b>7%</b> xp bonus. 
                                     There are more items like this! ;)
                                </li>
                            </ul>
                        </div>
                    </cdk-accordion-item>
                    <!-- Game Example -->
                    <cdk-accordion-item class="accordion-item p-1" #accordionItemFour="cdkAccordionItem" role="button"
                        [attr.id]="'accordion-header-' + 2"
                        [attr.aria-expanded]="accordionItemFour.expanded"
                        [attr.aria-controls]="'accordion-body-' + 2">
                        <div class="accordion-header text-white rounded border bg-danger mx-2 ">
                            <button class="accordion-button ml-2 p-2 row" (click)="accordionItemFour.toggle()">
                                <h4 clas="col-3">
                                    Game Example
                                </h4>
                                <span class="col-3 accordion-item-description">
                                    Click to {{ accordionItemFour.expanded ? 'close' : 'open' }}
                                </span>
                            </button>
                        </div>
                        <div class="accordion-body mx-3 p-1" role="region" 
                            [style.display]="accordionItemFour.expanded ? '' : 'none'"
                            [attr.id]="'accordion-body-' + 2"
                            [attr.aria-labelledby]="'accordion-header-' + 2">
                            Let's go over quick game example.
                        </div>
                    </cdk-accordion-item>
                    <!-- Creator Notes -->
                    <cdk-accordion-item class="accordion-item p-1" #accordionItemThree="cdkAccordionItem" role="button"
                        [attr.id]="'accordion-header-' + 1" [attr.aria-expanded]="accordionItemThree.expanded"
                        [attr.aria-controls]="'accordion-body-' + 1">
                        <div class="accordion-header text-white rounded border bg-success mx-2 ">
                            <button class="accordion-button ml-2 p-2 row" (click)="accordionItemThree.toggle()">
                                <h4 clas="col-3">
                                    Creator Notes
                                </h4>
                                <span class="col-3 accordion-item-description">
                                    Click to {{ accordionItemThree.expanded ? 'close' : 'open' }}
                                </span>
                            </button>
                        </div>
                        <div class="accordion-body mx-3 p-1" role="region" 
                            [style.display]="accordionItemThree.expanded ? '' : 'none'"
                            [attr.id]="'accordion-body-' + 1"
                            [attr.aria-labelledby]="'accordion-header-' + 1">
                            &nbsp;&nbsp;&nbsp;&nbsp;Game went from many design variations from initial idea. Tricky task was to pick attributes to base the game off.
                            Number of shots and range seemed like a cool addition to the game until you had to guess something like <strong>tiered ring</strong> or 
                            <strong>st ring</strong> (Did you know there're <strong>11</strong> st rings with <strong>4%</strong> xp bonus and <strong>600</strong> feedpower in the game?). 
                            Which turns into just blind guessing right after you get the tier right. <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;The same but different issue comes from <strong>The Machine</strong> whites, there are 17 abilities
                            that have exact same <strong>tier</strong>, <strong>lootbag</strong>, <strong>xp bonus</strong>, <strong>feedpower</strong> 
                            and <strong>slot type</strong>. 10 of them have no shots whatsoever, 7 have no range and 9 have no damage values. Which makes 
                            it harder to balance the game around if you had to use damage, range and/or amount of shots. Dungeon is also the same (<i>if you had that kind of idea in your mind ;)</i> ).<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;Color initially was introduced because of this two problems, and so far it seems like the only good solution.
                        </div>
                    </cdk-accordion-item>
                </cdk-accordion>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info text-white m-1" data-bs-dismiss="modal" (click)="close()">
                    <strong>Close</strong>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal-background"></div>