<div class="rounded" style="max-height: 45em; overflow: auto">
    <div class="px-1">
        <div class="btn btn-grey form-conrol m-1 border rounded float-end item-element" *ngIf="guesses.length === 0">
            <h5 class="row m-2">Click on item in search results to start playing! Choose wisely ;)</h5>
        </div>
        <div class="btn btn-grey m-1 border rounded float-end item-element"
            *ngFor="let guess of guesses | reverse; let i = index;">
            <app-item-panel class="" [itemIndex]="i" [itemNumber]="guesses.length - i - 1" [status]="status"
                [item]="guess" [showHints]="true" [hints]="hints[guesses.length - i - 1]"></app-item-panel>
        </div>
    </div>
</div>