.mime {
    color: #339900;
    color: #666600;
    color: #775500;
    color: #884400;
    color: #993300;
    color: #cc0000;
}

.rainbow {
    color: white;
    color: gray;
    color: black;
    color: brown;
    color: red;
    color: orange;
    color: yellow;
    color: green;
    color: violet;
    color: indigo;
}
