app-results{
    margin-top: 46px;
}   

.form-check-input {
    background-color: #ffffff;
    border-color: #000000;
}

.form-check-input:checked {
    background-color: #000000;
    border-color: #0d6efd;
}