<div class="p-5">
    <div class="row p-3">
        <h1>Your profile, {{playerProfile?.name ?? ''}}</h1>
        <div>Registered at {{getDateInFormat()}}</div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2" *ngFor="let stat of stats; let i = index">
            <div class="card text-white mb-3" [class]="statFields[i].color" style="max-width: 20rem; height: 20rem;">
                <h4 class="card-header">{{statFields[i].title}} Stats</h4>
                <div class="card-body">
                    <div class="card-text">
                        <div *ngFor="let attribute of attrFields">
                            <p *ngIf=" attribute.key !== 'currentStreak' || statFields[i].title !== 'Total' ">
                                {{attribute.title}} {{stat[attribute.key] ?? 'N/A'}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <h4 class="card-header">Settings</h4>
            <div class="card-body">
                <div class="card-text">
                    <div class="form-check form-switch">
                        <input class="form-check-input" [(ngModel)]="colorblindMode" [ngModelOptions]="{standalone: true}"
                            name="colorblindMode" (change)="changeColorblindMode()" type="checkbox" id="colorblindSwitch">
                        <label class="form-check-label" for="colorblindSwitch"
                           #tooltip="matTooltip" matTooltipHideDelay="100" matTooltipPosition="above" 
                           matTooltipClass="bg-dark p-2 text-center"
                           matTooltip="Changes color representation on site: palette is shown as color names instead, removes background tips.">
                            Colorblind mode
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>