.strikethrough-text {
    text-decoration: line-through;
}

.item-ut {
    color: #a200d3 !important;
    text-shadow: 0px 0px 2px grey;
}

.item-st {
    color: #ff9500 !important;
    text-shadow: 0px 0px 2px wheat;
}

.item-tiered {
    color: white !important;
    text-shadow: 0px 0px 3px black, 0px 0px 3px black, 0px 0px 3px black;
}