<h4 class="row m-2">
    <strong class="text-start" [class]="'item-'+item.tier!.toLowerCase()">{{item.name}}</strong>
</h4>
<div class="row m-1 border-info rounded">
    <div class="col-2 p-1 text-center">
        <div class="rounded h-100 py-2 text-center" [class]="getElementBgColor(itemIndex)" style="display: flex;
                        justify-content: center; align-items: center" #tooltip="matTooltip" matTooltipHideDelay="100"
            matTooltip="Guess #{{itemNumber}}" matTooltipPosition="above" matTooltipClass="bg-dark p-2">
            <div *ngIf="showHints" class="float-start pr-3">
                <i class="bi bi-hash"></i><strong>{{itemNumber}}</strong>
            </div>
            <img width="40px" height="40px" src="{{item.imageURL}}">
        </div>
    </div>
    <div class="col-2 p-1" *ngFor="let field of itemFields">
        <div class="rounded h-100 py-2" [ngStyle]="{'background-color': getHintBackgroundStyle(field.key, itemNumber - 1)}">
            <i [class]="'bi bi-' + field.icon">
            </i>
            <strong> {{field.title}}</strong><br>
            <div class="pt-2 d-flex justify-content-center">
                <i *ngIf="['numberOfShots','xpBonus', 'feedpower'].includes(field.key)"
                    [class]="getHintArrow(field.key, itemNumber)"></i>
                <span *ngIf="field.key !== 'colorPalette'">{{item[field.key]}}</span>
                <span *ngIf="field.key === 'tier' && item.reskin === true"> Reskin</span>
                <span *ngIf="field.key === 'xpBonus'">%</span>
                <span *ngIf="field.key === 'feedpower'">fp</span>
                <div *ngIf="field.key === 'colorPalette'" class="color-box-container rounded"
                    #tooltip="matTooltip" matTooltipHideDelay="100"
                    matTooltip="{{getTooltip()}}" matTooltipPosition="above" matTooltipClass="bg-dark p-2 mat-tooltip-breakline text-center">
                    <div class="color-box" *ngFor="let number of [0, 1, 2, 3]"
                        [ngClass]="'box-'+number" [ngStyle]="
                            {
                                'border-width': getBorderWidth(number),
                                'background-color': getColor(number)
                            }">
                        <svg *ngIf="isCorrectColor(number)" xmlns="http://www.w3.org/2000/svg" [ngStyle]="
                            {
                                'color': getCheckmarkColor(number),
                                'vertical-align': 'unset'
                            }"
                            width="21" height="21" fill="currentColor" class="color-checkmark" 
                            viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>